---
title: About
heading: About Melcome
subtitle: We have the expertise in design & printing.
---


<section class="diagonal alternate">
	<div class="container halves">
	   <p> At Melcome we get the picture when it comes to your business. Whether you start up a new business with all the inquiresof new designs, digital printings and signage requirements or you’re re-branding your building, or you would like to give a new look for your business vehicles, we have the design and signage skills and equipment to make you stand out.</p>

<p>Melcome Ltd was established in 2012, our goal is to build a business reputation based on our outstanding customer service, quality materials and products and fast turnaround times. Since then the business has developed fast and we still hold these values today. Recently we have also explored a new field to design and produce indoor and out door wall decoration products as well.</p>

<p> Experienced team.We have the latest technology and are also skilled in traditional signwriting methods. We have an in-house graphic designer and a great team of talented and experienced staff to assist our customers to excel their businesses.</p>
	</div>
</section>

<!-- <section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section> -->

